body {
  font-family: "Lato", monospace, sans-serif;
}

.container-fluid .navbar {
  background-color: #2C3E50;
  color: #FFFFFF;
}

.container-fluid .navbar-expand-lg .navbar-brand {
  color: #FFF;
}

.container-fluid .navbar-expand-lg .navbar-nav .nav-link {
  color: #FFF;
}

.container-fluid .navbar .navbar-toggler  {
  background-color: #FFF;
}

.container-fluid .center {
  width: 80%;
  margin: 10px auto;
  min-height: 600px;
}

.container-fluid .row .col-lg-6 {
  text-align: center;
}

/* Page HomeScreen */

.container-fluid .homepage {
  padding-top: 35px;
}

.container-fluid .row .col-lg-6 .linkStyle .buttonStyle {
  width: 80%;
  height: 100px;
  margin: 15px auto;
}

.container-fluid .row .col-lg-6 .linkStyle {
  text-decoration: none;
  color: #FFF;
}

/* Fin page homescreen */

/* Page Grade */

.container-fluid .wrap {
  display: flex;
  flex-wrap: wrap;
}

.container-fluid .wrap .cardStyle {
  width: 32%;
  margin: 5px auto;
}

.container-fluid .wrap .cardStyle .card-body .card-text {
  font-size: 58px;
  text-align: center;
}

.container-fluid .wrap .cardStyle .list-group .list-group-item {
  text-align: center;
}

.container-fluid .wrap .cardStyle .list-group .list-group-item .button {
  width: 100%;
}

.container-fluid .wrap .cardStyle .list-group .list-group-item .onyomi, .container-fluid .wrap .cardStyle .list-group .list-group-item .kunyomi {
  font-size: 22px;
}

/* Fin page grade */

/* Furigana Page */

.container-fluid .wrap .furiganaCardStyle {
  width: 33%;
  margin: 5px auto;
}

.container-fluid .wrap .furiganaCardStyle .card-body .card-text {
  font-size: 48px;
  text-align: center;
}

.container-fluid .wrap .furiganaCardStyle .list-group .list-group-item .meaningFurigana {
  text-align: center;
  margin-top: 5px;
  font-size: 24px;
}

.container-fluid .wrap .furiganaCardStyle .list-group .list-group-item .button {
  text-align: center;
}

.container-fluid .wrap .furiganaCardStyle .list-group .list-group-item .button button {
  width: 100%;
}

/* Fin Furigana Page */

/* Footer */ 
footer {
  background-color: #2C3E50;
  color: #FFF;
  height: 50px;
  line-height: 50px;
}

.footer-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* Fin de footer */

/* Media Queries */

@media screen and (max-width: 991px) {
  .container-fluid .wrap .card {
    width: 90%;
    margin: 5px auto;
  }

  #footer {
    position: static;
    height: 100px;
    width: 100%;
  }

}
