* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", monospace, sans-serif;
}

.container-fluid .navbar {
  background-color: #2C3E50;
  color: #FFFFFF;
}

.container-fluid .navbar-expand-lg .navbar-brand {
  color: #FFF;
}

.container-fluid .navbar-expand-lg .navbar-nav .nav-link {
  color: #FFF;
}

.container-fluid .navbar .navbar-toggler  {
  background-color: #FFF;
}

.container-fluid .center {
  width: 80%;
  margin: 10px auto;
  min-height: 600px;
}

.container-fluid .row .col-lg-6 {
  text-align: center;
}

/* Page HomeScreen */

.container-fluid .homepage {
  padding-top: 35px;
}

.container-fluid .row .homeButton .linkStyle .buttonStyle {
  width: 90%;
  height: 90px;
  margin: 15px auto;
}

.container-fluid .row .homeButton .linkStyle {
  text-decoration: none;
  color: #FFF;
}

/* Fin page homescreen */

/* Page Grade */

.container-fluid .wrap {
  display: flex;
  flex-wrap: wrap;
}

.container-fluid .wrap .cardStyle {
  width: 32%;
  margin: 5px auto;
}

.container-fluid .wrap .cardStyle .card-body .card-text {
  font-size: 58px;
  text-align: center;
}

.container-fluid .wrap .cardStyle .list-group .list-group-item {
  text-align: center;
}

.container-fluid .wrap .cardStyle .list-group .list-group-item .button {
  width: 100%;
  border-radius: 5px;
}

.container-fluid .wrap .cardStyle .list-group .list-group-item .onyomi, .container-fluid .wrap .cardStyle .list-group .list-group-item .kunyomi {
  font-size: 22px;
}

/* Fin page grade */

/* Furigana Page */

.container-fluid .wrap .furiganaCardStyle {
  width: 33%;
  margin: 5px auto;
}

.container-fluid .wrap .furiganaCardStyle .card-body .card-text {
  font-size: 48px;
  text-align: center;
}

.container-fluid .wrap .furiganaCardStyle .list-group .list-group-item .meaningFurigana {
  text-align: center;
  margin-top: 5px;
  font-size: 24px;
}

.container-fluid .wrap .furiganaCardStyle .list-group .list-group-item .button {
  text-align: center;
}

.container-fluid .wrap .furiganaCardStyle .list-group .list-group-item .button button {
  width: 100%;
  border-radius: 5px;
}

/* Fin Furigana Page */

/* Page Furigana Quiz */

.container-fluid .quiz .furiganaCardStyle {
  width: 38%;
  margin: 60px auto 40px auto;
}

.container-fluid .quiz .furiganaCardStyle .card-body .card-text {
  font-size: 48px;
  text-align: center;
}

.container-fluid .quiz .furiganaCardStyle .list-group .list-group-item .meaningFurigana {
  text-align: center;
  margin-top: 5px;
  font-size: 24px;
}

.container-fluid .quiz .furiganaCardStyle .list-group .list-group-item .button {
  text-align: center;
}

.container-fluid .quiz .furiganaCardStyle .list-group .list-group-item .button button {
  width: 100%;
  border-radius: 5px;
}

.container-fluid .center .furiganaChangeButton {
  text-align: center;
}

.container-fluid .center .furiganaChangeButton button {
  width: 380px;
  border-radius: 5px;
}

/* Fin page Furigana Quiz */

/* Page Kanji Quiz */

.container-fluid .center .buttonChangeGradeKanji .col-lg-4 {
  text-align: center;
}

.container-fluid .center .buttonChangeGradeKanji .col-lg-4 button  {
  width: 200px;
  margin: 5px;
}

.container-fluid .quiz .cardStyle {
  width: 38%;
  margin: 60px auto 40px auto;
}

.container-fluid .quiz .cardStyle .card-body .card-text {
  font-size: 48px;
  text-align: center;
}

.container-fluid .quiz .cardStyle .list-group .list-group-item div {
  text-align: center;
}

.container-fluid .quiz .cardStyle .list-group .list-group-item div .button {
  width: 100%;
  border-radius: 5px;
}

.container-fluid .center .kanjiChangeButton {
  text-align: center;
}

.container-fluid .center .kanjiChangeButton button {
  width: 380px;
  border-radius: 5px;
}

/* Fin page Kanji Quiz */

/* Page Vocabulary */

.container-fluid .wrap .cardVocab {
  width: 32%;
  margin: 5px auto;
}

.container-fluid .wrap .cardVocab .card-body .card-text {
  font-size: 58px;
  text-align: center;
}

.container-fluid .wrap .cardVocab .list-group .list-group-item {
  text-align: center;
}

.container-fluid .wrap .cardVocab .list-group .list-group-item div .button {
  width: 100%;
  border-radius: 5px;
}

.container-fluid .wrap .cardVocab .list-group .list-group-item .furigana, .container-fluid .wrap .cardVocab .list-group .list-group-item .translation {
  font-size: 22px;
}


/* Fin page vocabulary */

/* Footer */ 

footer {
  background-color: #2C3E50;
  color: #FFF;
  height: 50px;
  line-height: 50px;
  margin: 20px auto 0 auto;
  width: 97.4%;
}

.footer-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Fin de footer */



/* Media Queries */
@media screen and (max-width: 991px) {
  .container-fluid .wrap .card {
    width: 90%;
    margin: 5px auto;
  }

  #footer {
    position: static;
    height: 100px;
    width: 92%;
    margin: 0 auto;
  }

  .container-fluid .quiz .furiganaCardStyle {
    width: 90%;
  }

  .container-fluid .center .furiganaChangeButton button {
    width: 80%;
    margin-bottom: 5px;
  }

  .container-fluid .quiz .cardStyle {
    width: 90%;
  }

  .container-fluid .center .kanjiChangeButton button {
    width: 80%;
    margin-bottom: 5px;
  }

}
